.table-header {
	display       : flex;
	flex-direction: row;
	width         : 100%;
	font-weight   : bold;
	font-size     : 13px;
	padding-bottom: 9px;
	height        : 27px;
	align-items   : center;
	border-bottom : 1px solid #DDD;
}

.action-panel {
	display: flex;
	flex-direction: row;
}

.checkBox, .emptySquare {
	margin-right: 9px;
}

.deleteIcon svg {
	color: orangered;
}